@model Laboratorio2.Models.ClienteSql

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h1>Eliminar Cliente</h1>

<h3>¿Estás seguro de que deseas eliminar el cliente @Model.Nombres @Model.Apellidos?</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Codigo" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
